<!doctype html>
<html>
    <head>
        <script src="/javascript.js" async></script>
        <link href="/stylesheet.css" rel="stylesheet" media="screen">

        <!--START:Meta-->
        <title>{title}</title>
        <meta name="description" content="{description}">
        <!--END:Meta-->

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <meta name="author" content="Your Company">

        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" sizes="114x114">
    </head>

    <body>
        {{Content}}
    </body>
</html>
