<!doctype html>
<html>
    <head>

        <!--START:Meta-->
        <title>{title}</title>
        <meta name="description" content="{description}">
        <!--END:Meta-->

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <meta name="author" content="Your Company">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" sizes="114x114">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link href="/stylesheet.css" rel="stylesheet" media="screen">
        <script src="/javascript.js" async></script>
    </head>

    <body>
        {{Content}}
    </body>
</html>
